<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7team mypage</title>
    <link rel="stylesheet" href="./mypage.css" />
    <link rel="stylesheet" href="../public/common/common.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  </head>
  <body>
    <header id="headerHtml"></header>
    <!-- 정보수정 모달 -->
    <div class="modal-overlay" id="modalOverlay">
      <div class="userInfoModal" id="editInfoModal">
        <div class="modal-content">
          <h1>정보수정</h1>
          <form>
            <label for="email">이메일:</label>
            <input type="email" id="email" name="email" />

            <label for="name">이름:</label>
            <input type="text" id="name" name="name" />

            <label for="phone">연락처:</label>
            <input type="tel" id="phone" name="phone" />

            <label for="address">주소:</label>
            <input type="text" id="address" name="address" readonly />
            <label for="address">상세주소:</label>
            <input type="text" id="address" name="address" />
          </form>
          <button onclick="closeModal()">확인하기</button>
        </div>
      </div>
    </div>
    <!-- 탈퇴 모달 -->
    <div class="modal-overlay" id="delModalOverlay">
      <div class="userDelModal" id="delInfoModal">
        <div class="modal-content">
          <h1>회원탈퇴</h1>
          <p>정말로 회원탈퇴를 하시겠습니까?</p>
          <div>
            <button onclick="closeModal()">취소</button>
            <button onclick="closeModal()" id="deleteUser">탈퇴하기</button>
          </div>
        </div>
      </div>
    </div>

    <main>
      <div class="maypageBackground">
        <div class="leftBar">
          <ul>
            <li>
              <a href="">
                <span>주문조회</span>
              </a>
            </li>
            <li>
              <a href="">
                <span>정보수정</span>
              </a>
            </li>
            <li>
              <a href="">
                <span>회원탈퇴</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="maypageMemberBox">
          <div class="user">
            <h1 class="username"></h1>
          </div>
          <div class="orderList">
            <h2>주문조회</h2>
            <div class="orderListBox">
              <div class="orderListWapper">
                <img
                  src="https://cdn.imweb.me/thumbnail/20230330/af238627224b4.jpg"
                  alt=""
                />
                <div class="orderText">
                  <span class="orderProductName"
                    >지웨이 프로바이오틱스 생 유산균 240억 투입 20억보정
                    30캡슐(1박스)</span
                  >
                  <div class="orderPrice">
                    <span>16,300원</span>
                    <span>1개</span>
                  </div>
                </div>
                <div class="orderFinish">입금완료</div>
                <button>취소</button>
              </div>
            </div>
            <i></i>
            <div class="orderListBox">
              <div class="orderListWapper">
                <img
                  src="https://cdn.imweb.me/thumbnail/20230908/0ff3e693c2264.jpg"
                  alt=""
                />
                <div class="orderText">
                  <span class="orderProductName"
                    >지웨이 머슬 쉐이커 스포츠 헬스 물통 보틀 700ml</span
                  >
                  <div class="orderPrice">
                    <span>5,500원</span>
                    <span>1개</span>
                  </div>
                </div>
                <div class="orderFinish">입금완료</div>
                <button>취소</button>
              </div>
            </div>
            <i></i>
            <div class="orderListBox">
              <div class="orderListWapper">
                <img
                  src="https://cdn.imweb.me/thumbnail/20230609/0f090afe06bee.jpg"
                  alt=""
                />
                <div class="orderText">
                  <span class="orderProductName"
                    >지웨이 슬림밀 단백질 다이어트 식사대용 쉐이크 쿠키맛
                    800g</span
                  >
                  <div class="orderPrice">
                    <span>16,300원</span>
                    <span>3개</span>
                  </div>
                </div>
                <div class="orderFinish">입금완료</div>
                <button>취소</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer id="footerHtml"></footer>
    <script src="../public/common/common.js"></script>
    <script src="./mypage.js"></script>
  </body>
</html>
