<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7team category carbohydrate</title>
    <link rel="stylesheet" href="../home/home.css" />
    <link rel="stylesheet" href="./category.css" />
    <link rel="stylesheet" href="../public/common/common.css" />
  </head>
  <body>
    <header id="headerHtml"></header>
    <main>
      <div class="categoryMainText">
        <h1>탄수화물 보충제</h1>
      </div>
      <div class="subMenu">
        <ul>
          <li>
            <a href="" onclick="categoryCarbohydrateMove(event)">
              <span>탄수화물 보충제</span>
            </a>
          </li>
          <li>
            <a href="" onclick="categoryProteinMove(event)">
              <span>단백질 보충제</span>
            </a>
          </li>
          <li>
            <a href="" onclick="categoryAminoMove(event)">
              <span>아미노산</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="subText">
        <div class="bestItem">
          <h2>탄수화물 보충제</h2>
          <div id="productContainer" class="productContainer"></div>
        </div>
      </div>
    </main>
    <footer id="footerHtml"></footer>
    <script src="../public/common/common.js"></script>
    <script src="./category.js"></script>
  </body>
</html>
