<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7team category diet</title>
    <link rel="stylesheet" href="../home/home.css" />
    <link rel="stylesheet" href="./category.css" />
    <link rel="stylesheet" href="../public/common/common.css" />
  </head>
  <body>
    <header id="headerHtml"></header>
    <main>
      <div class="categoryMainText">
        <h1>다이어트/보조식품</h1>
      </div>
      <div class="diteItem">
        <div id="diteContainer" class="diteContainer"></div>
      </div>
    </main>
    <footer id="footerHtml"></footer>
    <script src="../public/common/common.js"></script>
    <script src="./diet.js"></script>
  </body>
</html>
