<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>7team header</title>
  <link rel="stylesheet" href="./header.css">
  <link rel="stylesheet" href="../public/common/common.css" />
  <!-- <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
</head>
<body>
  <header class="header">
    <!-- logo -->
    <div class="headerBackground">
      <div class="headerContainer">
        <div class="inputBox">
         
        </div>
        <a href="">
          <div class="logo" onclick="homeMove(event)">

          </div>
        </a>
       
        <div class="userLogCart">
          <a href="" onclick="mypageMove(event)">🧑</a>
          <a href="" onclick="cartMove(event)">🛒</a>
          <a href="" onclick="logOut(event)">☞</a>
        </div>
      </div>
      <nav class="navContainer">
        <ul class="nav">
          <li>
              <a href="" onclick="categoryCarbohydrateMove(event)">헬스보충제</a>
              <ul class="subNav" >
                  <li class="active"><a href="" onclick="categoryCarbohydrateMove(event)">탄수화물 보충제</a></li>
                  <li ><a href="" onclick="categoryProteinMove(event)">단백질 보충제</a></li>
                  <li ><a href="" onclick="categoryAminoMove(event)">아미노산</a></li>
              </ul>
          </li>
          <li><a href="" onclick="categoryNutrientsMove(event)">영양제</a></li>
          <li><a href="" onclick="categoryFitnessMove(event)">헬스용품</a></li>
          <li><a href="" onclick="categoryDietMove(event)">다이어트/보조식품</a></li>
      </ul>
      
        </ul>
      </nav>
    </div>
  </header>
  <script src="../common/common.js"></script>
  <script src="./header.js"></script>
</body>
</html>

