<header class="header">
  <!-- logo -->
  <div class="headerBackground">
    <div class="headerContainer">
      <div class="inputBox">
        <input type="text" placeholder="검색어를 입력하세요" />
        <i>🔍</i>
      </div>
      <div class="logo">
        <a href="">
          <img src="https://cdn.imweb.me/thumbnail/20230331/67b9c13ff1ec2.png" alt="">
        </a>
      </div>
      <div class="userLogCart">
        <a href="">🧑</a>
        <a href="">🛒</a>
      </div>
    </div>
    <nav class="navContainer">
      <ul class="nav">
        <li>
            <a href="">헬스보충제</a>
            <ul class="sub-nav">
                <li><a href="">탄수화물 보충제</a></li>
                <li><a href="">단백질 보충제</a></li>
                <li><a href="">아미노산</a></li>
            </ul>
        </li>
        <li><a href="">영양제</a></li>
        <li><a href="">헬스용품</a></li>
        <li><a href="">다이어트/보조식품</a></li>
    </ul>
    
      </ul>
    </nav>
  </div>
</header>
