main button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  box-shadow: 1px 1px 1px;
}

button:hover {
  background-color: #fdcf1a;
}

.title {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  text-align: center;
}

main {
  border: 0.5px solid lightgray;
  width: 700px;
  margin: 20px auto;
  margin-top: 300px;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 1px 1px 1px;
}

.column {
  display: flex;
}
.input {
  margin-bottom: 20px;
}

#findAddressBtn {
  margin-bottom: 40px;
}

#submitButton {
  width: 100%;
  color: black;
  border-radius: 5px;
  border: 0.3px solid lightgray;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label,
input,
button {
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}
