<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Mall Project</title>
    <script src="admin.js" type="module" defer></script>
    <link rel="stylesheet" href="admin.css" />
    <link rel="stylesheet" href="../public/common/common.css" />
    <link rel="stylesheet" href="../public/header/header.css" />
    <link rel="stylesheet" href="../public/footer/footer.css" />
  </head>
  <body>
    <header id="headerHtml"></header>
    <main class="main">
      <div class="menuWrap">
        <a href=""><div class="orderMenu">주문관리</div></a>
        <a href=""><div class="productMenu">상품관리</div></a>
        <a href=""><div class="categoryMenu">카테고리관리</div></a>
      </div>
      <div class="contentWrap"></div>
    </main>
    <footer id="footerHtml"></footer>
    <script src="../public/common/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
