a {
  text-decoration: none;
}
hr {
  width: 100%;
}
button {
  border: none;
  background-color: transparent;
}
main {
  height: auto;
  min-height: 100%;
  width: 100%;
  display: flex;
  margin-top: 10px;
  margin-bottom: 100px;
  /* align-items: center; */
  /* justify-content: center; */
}
.menuWrap {
  width: 210px;
  margin-left: 310px;
  padding: 100px 0;
  display: flex;
}
.leftBar {
  width: 200px;
}
.leftBar ul li {
  padding-bottom: 20px;
}
.contentWrap {
  width: 1200px;
  /* margin-left: 50px; */
  margin-right: 50px;
}
#list-container_startMsg {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* padding-left: 100px; */
  font-size: 20px;
}
#list-container_startMsg > div:first-child {
  margin-top: 100px;
  margin-bottom: 10px;
}
.adminImg {
  width: 750px;
  margin-left: 100px;
}

#side-bar {
  display: flex;
  flex-direction: column;
  width: 200px;
  /* margin-left: 20px; */
  min-width: 100px;
}

#order-btn,
#items-btn,
#category-btn {
  cursor: pointer;
  font-size: 18px;
  color: var(--darkBrown);
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 5px;
  height: 40px;
  border-radius: 5px;
}

#list-container {
  margin: 0 30px 0 30px;
  width: 100%;
}
.admin_wrap_all {
  width: 800px;
  display: flex;
  justify-content: space-between;
}
.admin_category_parent {
  width: 300px;
  background-color: #fdcf1a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  padding: 20px;
}
.admin_category_head {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
.admin_category_items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.admin_category_item {
  width: 80%;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* background-color: #fffced; */
  cursor: pointer;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: space-between;
}
.main_category_add_btn {
  width: 80%;
  padding: 10px 15px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.main_category_add_btn:hover {
  box-shadow: inset 0 0 5px black;
  color: black;
  background-color: #ffe683;
}
.admin_category_item_text {
  font-weight: 600;
  width: 100%;
  text-align: left;
}
.admin_category_item_btnWrap {
  display: flex;
}
.admin_category_modify > img {
  width: 20px;
  margin-right: 4px;
  cursor: pointer;
}
.admin_category_delete > img {
  width: 16px;
  cursor: pointer;
  margin-top: 1px;
}
.admin_category_item:hover {
  background-position: left;
  color: white;
}
.admin_category_item.selected {
  background: black;
  color: white;
}
.admin_subcategory_parent {
  width: 300px;
  background-color: #fdcf1a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  padding: 20px;
}
.admin_subcategory_head {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
.admin_subcategory_items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.admin_subcategory_item {
  width: 80%;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* background-color: #fffced; */
  cursor: pointer;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: space-between;
}
.sub_category_add_btn {
  width: 80%;
  padding: 10px 15px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.sub_category_add_btn:hover {
  box-shadow: inset 0 0 5px black;
  color: black;
  background-color: #ffe683;
}
.admin_subcategory_item_text {
  font-weight: 600;
  width: 100%;
  text-align: left;
}
.admin_subcategory_item_btnWrap {
  display: flex;
}
.admin_subcategory_modify > img {
  width: 20px;
  margin-right: 4px;
  cursor: pointer;
}
.admin_subcategory_delete > img {
  width: 16px;
  cursor: pointer;
  margin-top: 1px;
}
.admin_subcategory_item:hover {
  background-position: left;
  color: white;
}
.admin_subcategory_item.selected {
  background: black;
  color: white;
}

/* 주문 관리 */
/* 큰 박스 */
.orderBox {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 10px;
  padding: 10px;
  border: solid 1px var(--brown);
  max-width: 1000px;
  min-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.order_title {
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
  /* margin-bottom: 10px; */
}
.orderBox_title {
  max-width: 1000px;
  min-width: 600px;
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  margin-bottom: 25px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: rgb(100, 100, 100);
}
/* 작은 박스들 */
.orderBox_order {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
}

.orderBox_user {
  width: 150px;
  display: flex;
  flex-direction: column;
}

.orderBox_order_date {
  display: flex;
  flex-direction: row;
}

.orderBox_btn {
  display: flex;
  flex-direction: column;
  width: 75px;
}

.orderBox_btn label {
  color: var(--darkBrown);
  font-size: 15px;
  font-weight: bold;
}

.orderBox_btn_select {
  width: 110px;
  height: 25px;
  /* border-radius: 10px; */
  font-weight: 600;
}

.orderBox_btn_delBtn {
  margin-top: 10px;
  color: white;
  background-color: black;
  width: 110px;
  height: 25px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
.orderBox_btn_delBtn:hover {
  /* color: black; */
  background-color: #ff1e00;
}
.orderBox_date {
  width: 120px;
  padding-left: 10px;
}
.orderBox_num {
  width: 200px;
  font-weight: 600;
  /* padding-left: 10px; */
}
.orderBox_item {
  width: 200px;
  /* padding-left: 10px; */
}
.orderBox_ship {
  width: 150px;
  /* padding-left: 10px; */
}
.orderBox_info {
  width: 200px;
  /* padding-left: 10px; */
}
.orderBox_change {
  width: 75px;
  /* padding-left: 10px; */
}
/********************************************/
.itemBox {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 10px;
  padding: 10px;
  border: solid 1px var(--brown);
  max-width: 1000px;
  min-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.item_header_wrap {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.item_add_btn {
  font-size: 20px;
  padding: 4px 32px;
  color: white;
  background: linear-gradient(to right, #fdcf1a 50%, #363636 50%);
  background-size: 200% 100%;
  background-position: right;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-right: 180px;
  margin-top: 8px;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 20px;
}
.item_add_btn:hover {
  background-position: left;
  color: black;
}
.item_title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 35px;
  /* margin-bottom: 10px; */
}
.itemBox_title {
  max-width: 1000px;
  min-width: 600px;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: rgb(100, 100, 100);
}
/* 작은 박스들 */
.itemBox_order {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
}

.itemBox_user {
  width: 150px;
  display: flex;
  flex-direction: column;
}

.itemBox_order_date {
  display: flex;
  flex-direction: row;
}

.itemBox_btn {
  display: flex;
  flex-direction: column;
  width: 150px;
}
/* 
.itemBox_btn label {
  color: var(--darkBrown);
  font-size: 15px;
  font-weight: bold;
}

.itemBox_btn_select {
  width: 110px;
  height: 25px;
  border-radius: 10px;
  font-weight: 600;
} */

.itemBox_btn_modifyBtn {
  cursor: pointer;
  margin-top: 10px;
  color: white;
  background-color: rgb(77, 77, 77);
  width: 110px;
  height: 25px;
  font-size: 12px;
  font-weight: 600;
}
.itemBox_btn_modifyBtn:hover {
  color: black;
  background-color: #fdcf1a;
}
.itemBox_btn_deleteBtn {
  cursor: pointer;
  margin-top: 10px;
  color: white;
  background-color: black;
  width: 110px;
  height: 25px;
  font-size: 12px;
  font-weight: 600;
}
.itemBox_btn_deleteBtn:hover {
  /* color: black; */
  background-color: #ff1e00;
}
.itemBox_category {
  width: 150px;
  padding-left: 10px;
}
.itemBox_name {
  width: 300px;
  font-weight: 600;
  /* padding-left: 10px; */
}
.itemBox_price {
  width: 100px;
  /* padding-left: 10px; */
}
.itemBox_img {
  width: 100px;
  border-radius: 10px;
  margin-right: 30px;
  margin-left: 10px;
  /* padding-left: 10px; */
}
.itemBox_date {
  width: 200px;
  /* padding-left: 10px; */
}
.itemBox_change {
  width: 150px;
  /* padding-left: 10px; */
}

#productsListBox {
  margin-bottom: 20px;
  padding-left: 10px;
}

/* #productDetailBox {
  height: 40%;
} */

#catefory-btn__add {
  border: 0;
  outline: 0;
}

/* 페이지네이션 */
.hidden {
  display: none;
}
#page_list {
  position: absolute;
  top: 320px;
  left: 350px;
  display: flex;
  flex-direction: row;
}
#page_list div {
  padding: 9px;
  margin-left: 5px;
  cursor: pointer;
}
#page_list div:hover {
  padding: 9px;
  margin-left: 5px;
  background-color: gray;
}

/* 클릭한 숫자 */
.page_list_currentClick {
  font-weight: bold;
  padding: 9px;
  margin-left: 5px;
  background-color: gray;
}

/* ********************************************************** */
/* 상품관리 */
.productTabel {
  min-width: 1000px;
}

.productTabel th {
  text-align: center;
}

.itemTableBody_row_modifyBtn,
.itemTableBody_row_delBtn {
  font-size: 12px;
  padding: 5px;
  margin-top: 5px;
}

/* 판매시작버튼 */
.itemTableBody_row_restartBtn {
  font-size: 12px;
  padding: 5px;
  margin-top: 5px;
}
/* 테이블헤드 */
#itemsName {
  width: 200px;
}
#itemsDetail {
  width: 400px;
}
#itemsDate,
#itemsImg {
  width: 100px;
}

/* ************************************************************** */
/* 카테고리 */
.categoryTable {
  width: 400px;
}

.categoryBody_row_btns_modify,
.categoryBody_row_btns_del {
  font-size: 12px;
  padding: 5px;
  margin-right: 3px;
}

/* ************************************************************* */
/* 상품추가 모달창 */

#modal-container__inner {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: hide 1;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fffced;
  padding: 30px 50px;
  border-radius: 15px;
  border: solid 2px #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#modalBox_nameInput,
#modalBox_priceInput,
#modalBox_imgInput {
  width: 175px;
  border: solid 1px black;
  margin-top: 2px;
  padding: 2px;
  /* height: 24px; */
}

#modalBox_categorySelect {
  width: 180px;
  border: solid 1px black;
  margin-top: 2px;
  padding: 2px 0px;
}

#modalTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

#modal-container__inner > div {
  display: flex;
  padding: 10px;
  align-items: center;
  /* margin-bottom: 15px; */
}

#modal-container__inner > div > p,
#modalBox-detail_title {
  width: 100px;
  font-size: 16px;
}

#modalBox_detailInput {
  height: 100px;
  margin-bottom: 30px;
  width: 100%;
}

/* 제출, 취소 버튼 */
#modalBox_doneBtn {
  width: 100px;
  margin-right: 5px;
  padding: 4px;
  cursor: pointer;
  font-weight: bold;
  background-color: black;
  color: white;
}
#modalBox_doneBtn:hover {
  color: black;
  background-color: #fdcf1a;
}

#modalBox_cancelBtn {
  width: 100px;
  margin-right: 5px;
  padding: 6px 4px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(238, 238, 238);
}
#modalBox_cancelBtn:hover {
  color: black;
  background-color: #fdcf1a;
}

#modalBox_btns {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* 카테고리 추가 모달창 */
#categoryAddBox_name,
#categoryAddBox_index,
#categoryAddBox_btns {
  display: flex;
}

#categoryAddBox_btns {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#categoryAddBox_addBtn,
#categoryAddBox_doneBtn,
#categoryAddBox_cancelBtn {
  width: 100px;
  margin-right: 5px;
}
