a {
  text-decoration: none;
}
hr {
  width: 100%;
}
button {
  border: none;
}
main {
  height: auto;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
#headerHtml {
  width: 100%;
}
#footerHtml {
  width: 100%;
}
.menuWrap {
  width: 15%;
  height: 200px;
  margin: 10% 0% 0% 10%;
  background-color: aqua;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.orderMenu {
  width: 100%;
  height: 100%;
  font-size: 20px;
}
.productMenu {
  width: 100%;
  height: 100%;
  font-size: 20px;
}
.categoryMenu {
  width: 100%;
  height: 100%;
  font-size: 20px;
}
