a {
  text-decoration: none;
}
hr {
  width: 100%;
}
button {
  border: none;
}
main {
  height: auto;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
  margin-top: 16px;
}
.infoWrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  justify-content: space-between;
  margin: 16px;
}
.imgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainImg {
  width: 520px;
  height: 520px;
  border-radius: 5%;
}
.totalInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
}
.categoryInfo {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
}
.categoryName {
  font-weight: 600;
  font-size: 20px;
  color: #97968c;
}
.nameInfo {
  width: 100%;
  margin-bottom: 16px;
}
.itemName {
  font-weight: bold;
  font-size: 24px;
}
.priceInfo {
  display: flex;
  flex-direction: row;
  margin: 16px 0px 16px 0px;
}
.priceTag {
  margin-right: 8px;
  color: #97968c;
  font-size: 18px;
}
.price {
  font-size: 20px;
  font-weight: bold;
}
.finalInfo {
  width: 100%;
  margin-top: 16px;
}
.deliveryInfo {
  display: flex;
  flex-direction: column;
}
.deliveryWrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}
.deliveryText {
  font-weight: bold;
  margin-right: 8px;
}
.orderInfo {
  display: flex;
  width: cal(100% - 32px);
  flex-direction: column;
  margin: 16px 0px 16px 0px;
  padding: 16px;
  background-color: #f7f7f7;
  border-radius: 8px;
}
.orderText {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}
.count {
  display: flex;
  flex-direction: row;
  width: 160px;
  justify-content: space-between;
}
.minusButton {
  width: 32px;
  height: 32px;
  background-color: #dbdbdb;
  border-radius: 10%;
  cursor: pointer;
}
.minusButton:hover {
  border: 2px solid #fdcf1a;
  background-color: white;
}
.plusButton {
  width: 32px;
  height: 32px;
  background-color: #dbdbdb;
  border-radius: 10%;
  cursor: pointer;
}
.plusButton:hover {
  border: 2px solid #fdcf1a;
  background-color: white;
}
.salesCount {
  font-size: 20px;
}
.sellInfo {
  display: flex;
}
.buyNowButton {
  width: 100%;
  height: 48px;
  border-radius: 16px;
  margin-right: 8px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background: linear-gradient(to right, #fdcf1a 50%, #363636 50%);
  background-size: 200% 100%;
  background-position: right;
  cursor: pointer;
  transition: all 0.5s ease;
}
.buyNowButton:hover {
  background-position: left;
  color: black;
}
.moveTocartButton {
  width: 100%;
  height: 48px;
  border-radius: 16px;
  margin-right: 8px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background: linear-gradient(to right, #fdcf1a 50%, #363636 50%);
  background-size: 200% 100%;
  background-position: right;
  cursor: pointer;
  transition: all 0.5s ease;
}
.moveTocartButton:hover {
  background-position: left;
  color: black;
}
.detailInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 1080px;
}
.detailText {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  padding: 16px 0px 16px 0px;
  background-color: #f5f5f5;
  border: 2px solid #fdcf1a;
}
.detailImgWrap {
  padding: 16px 0px 16px 0px;
}
.detailImg {
  display: flex;
}
