/* 슬라이드 */
.sliderWrapper {
  margin: 0 auto;
  width: 1264px;
  height: 420px;
  overflow: hidden;
  position: relative;
}

.sliderContent {
  display: flex;
  transition: all 0.5s;
}

.slide {
  min-width: 1264px;
  height: 420px;
}

.slide:nth-child(1) {
  background: url("../public/img/slide1.jpg") center/cover;
}
.slide:nth-child(2) {
  background: url("../public/img/slide2.jpg") center/cover;
}
.slide:nth-child(3) {
  background: url("../public/img/slide3.jpg") center/cover;
}

.btn {
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  border: 1px solid white;
}
.btn:hover {
  background-color: white;
}

.btn1 {
  left: 48%;
}
.btn2 {
  left: 50%;
}
.btn3 {
  left: 52%;
}

/* 카테고리 */
.categoriWrapper {
  margin: 0 auto;
  width: 1000px;
  padding-top: 60px;
  padding-bottom: 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.categoriWrapper a {
  width: 146px;
  height: 150px;
  color: black;
}
.categoriWrapper a:nth-child(1) .imgBox {
  width: 100%;
  height: 100%;
  background: url("../public/img/icon1_1.png");
  position: relative;
}
.categoriWrapper a:nth-child(2) .imgBox {
  width: 100%;
  height: 100%;
  background: url("../public/img/icon2_1.png");
  position: relative;
}
.categoriWrapper a:nth-child(3) .imgBox {
  width: 100%;
  height: 100%;
  background: url("../public/img/icon3_1.png");
  position: relative;
}
.categoriWrapper a:nth-child(4) .imgBox {
  width: 100%;
  height: 100%;
  background: url("../public/img/icon4_1.png");
  position: relative;
}
.categoriWrapper a .imgBox p {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: -25%;
  transform: translateX(-50%);
}

/* 카테고리 이미지 호버 */
.categoriWrapper a:nth-child(1):hover .imgBox {
  background: url("../public/img/icon1.png");
}
.categoriWrapper a:nth-child(2):hover .imgBox {
  background: url("../public/img/icon2.png");
}
.categoriWrapper a:nth-child(3):hover .imgBox {
  background: url("../public/img/icon3.png");
}
.categoriWrapper a:nth-child(4):hover .imgBox {
  background: url("../public/img/icon4.png");
}

/* 신상품 */
.newItem {
  width: 1264px;
  margin: 0 auto;
}
.newItem > h1 {
  padding: 20px 0;
}
.newProductContainer {
  display: flex;
  justify-content: space-between;
}
.newProductContainer > a {
  color: black;
}
/* 베스트 html */
.bestItem {
  width: 1264px;
  height: 600px;
  margin: 0 auto;
  padding-top: 50px;
}
.bestItem > h1 {
  padding: 20px 0;
}
.newProductSlider {
  width: 100%;
  display: flex;
}

/* 베스트 js */
.productContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.productContainer > a {
  color: black;
}
.productItem {
  width: 269px;
  height: 269px;
  position: relative;
}
.productImg {
  width: 269px;
  height: 269px;
  border-radius: 15px;
}
.productName {
  position: absolute;
  bottom: -10%;
  left: 10px;
}
.productPrice {
  position: absolute;
  bottom: -20%;
  left: 10px;
}

/* 신상품 */
.newItem {
  width: 1264px;
  height: 400px;
}
.newItem .newProductContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.newProductItem {
  width: 269px;
  height: 269px;
  margin-right: 10px;
}

.newProductItem img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.newProductItem p {
  font-size: 16px;
  margin: 8px 0;
}

.newProductItem b {
  font-size: 14px;
  color: black;
}
