body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.cart-container {
  margin-top: 300px;
  width: 800px;
  padding: 20px;
  position: relative;
}
.cart-h1 {
  font-weight: bold;
}
.cart-items {
  margin-top: 30px;
  border-top: 1px solid #000;
  width: 100%;
  border-collapse: separate; /* 셀 간격을 추가 */
  border-spacing: 0 10px; /* 수직 간격은 10px로 지정 (원하는 크기로 조절 가능) */
}

.cart-items th,
.cart-items td {
  padding: 10px;
  text-align: center;
  background-color: #f2f2f2; /* 배경색을 연한 회색으로 설정 */
}

.cart-items td {
  text-align: center;
}
/* 나머지 스타일 유지 */

.cart-summary {
  text-align: right;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
}
.cart-items th {
  background-color: #f2f2f2;
}

.cart-summary {
  text-align: right;
}

.cart-tr {
  background-color: white;
  border: #ccc;
}

.cart-tr th {
  background-color: white; /* 배경색을 흰색으로 설정 */
  border: none; /* 테두리를 없앰 */
}

.delete-btn {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.ship-price {
  font-size: large;
}
.total-price {
  font-size: large;
  margin-bottom: 30px;
}

.cart-items img {
  width: 100px;
  height: 100px;
}

.quantity-input {
  width: 50px; /* 원하는 가로 길이로 조절 */
}

/* header, footer css 설정 필요 */
#headerHtml {
  width: 100%;
  background-color: burlywood; /* 헤더 배경색 */
  color: white; /* 헤더 텍스트 색상 */
  text-align: center;
  padding: 10px 0; /* 위아래 10px, 좌우 0 */
  position: fixed; /* 고정 위치 설정 */
  top: 0; /* 화면 상단에 고정 */
  z-index: 1000; /* 다른 요소보다 위에 표시되도록 설정 */
}
/* 푸터 스타일 */
#footerHtml {
  color: white;
  position: fixed; /* 고정 위치 설정 */
  bottom: 0; /* 화면 하단에 고정 */
  width: 1000px;
  margin: 0 auto;
  background-color: darkorange;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}
