<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7team search</title>
    <link rel="stylesheet" href="./search.css" />
    <link rel="stylesheet" href="../public/common/common.css">
  </head>
  <body>
    <header id="headerHtml"></header>
    <main>
      <div class="search">
        <div class="inputBox">
          <input
            type="text"
            id="searchInput"
            placeholder="검색어를 입력하세요"
          />
          <i">🔍</i>
        </div>

        <span>0개의 검색 결과</span>
        <div id="searchResults"></div>
      </div>
    </main>
    <footer id="footerHtml"></footer>
    <script src="./search.js"></script>
    <script src="../public/common/common.js"></script>
  </body>
</html>
